%h2 Containers:

%p
  Container count:
  = @containers.size

%table.table.table-striped
  %thead
    %tr
      %th
        id
      %th
        image
      %th
        command
      %th
        created
      %th
        status
  %tbody
    - @containers.each do |container|
      %tr
        %td
          %a{href: "/containers/#{container.id}"}
            = container.id.truncate(12, omission: '')
        %td
          %a{href: "/images/#{container.image_id}"}
            = container.image_id.truncate(12, omission: '')
        %td
          = container.path
          = container.args.join(' ').truncate(50)
        %td
          = container.created_at.to_formatted_s(:mdy)
        %td
          - if container.ghost?
            Ghost
          - elsif container.running?
            = distance_of_time_in_words_to_now container.started_at
          - else
            Exit #{container.exit_code}


      /
        = container.json