%h2 Images

%p
  Image count:
  = @images.size

%table.table.table-striped
  %thead
    %tr
      %th
        id
      %th
        repository
      %th
        tag
      %th
        created
      %th
        size
      %th
        virtual size
  %tbody
    - @images.each do |image|
      %tr
        %td
          %a{href: "/images/#{image.id}"}
            = image.id.truncate(12, omission: '')
        %td
          = image.repository
        %td
          = image.tag
        %td
          = image.created_at.to_formatted_s(:mdy)
        %td
          = "%.2f" % image.size_mb
          MB
        %td
          = "%.2f" % image.virtual_size_mb
          MB
      /
        = image.json